[user]
        name = {{ git_username }}
        email = {{ git_useremail }}
[alias]
        {{ git_checkout_alias }} = checkout
        {{ git_status_alias }} = status
        {{ git_commit_alias }} = commit
[color]
        ui = {{ git_color }}
[push]
        default = simple