# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

# if running bash
if [ -n "$BASH_VERSION" ]; then
    # include .bashrc if it exists
    if [ -f "$HOME/.bashrc" ]; then
	. "$HOME/.bashrc"
    fi
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

### User specific aliases and functions ###

# Enable two-finger natural scroll
xmodmap -e "pointer = 1 2 3 5 4 7 6 8 9 10 11 12"

{% if inst_heroku %}
# Heroku toolbelt
PATH="$PATH:/usr/local/heroku/bin"

{% endif %}
{% if inst_pythonz %}
# Pythonz configuration
[[ -s /home/${username}/.pythonz/etc/bashrc ]] && source /home/${username}/.pythonz/etc/bashrc

{% endif %}
{% if inst_virtualenvwrapper %}
# Enable Python virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python2
source /usr/bin/virtualenvwrapper.sh

{% endif %}
{% if inst_adt %}
# Android ADT
PATH=$PATH:$HOME/extra/adt-bundle-linux-x86_64-20130219/sdk/platform-tools:$HOME/extra/adt-bundle-linux-x86_64-20130219/sdk/tools

{% endif %}
{% if inst_ndk %}
# Android NDK
PATH=$PATH:$HOME/extra/android-ndk-r8d

{% endif %}
{% if inst_java %}
# Java home
export JAVA_HOME=/opt/java
PATH=$PATH:$JAVA_HOME/bin

{% endif %}
{% if inst_seam %}
# Seam Framework
export SEAM_HOME=~/extra/seam
PATH=$PATH:$SEAM_HOME

{% endif %}
{% if inst_rvm %}
# Ruby RVM
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"
PATH=$PATH:$HOME/.rvm/bin

{% endif %}
{% if inst_nvm %}
# NodeJS Version Manager
[[ -s /home/${username}/.nvm/nvm.sh ]] && . /home/${username}/.nvm/nvm.sh

{% endif %}